.menu {
    position: relative;
    z-index: 4;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgb(119, 87, 132);
    font-size: x-large;
}

.menu__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.btn {
    width: 100px;
    height: 45px;
    font-size: 26px;
    border: none;
    font-family: 'Teko', sans-serif;
    background-color: #d8b4e8;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 3em;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 5px rgba(34, 60, 80, 0.35);
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 3px 3px 8px 1px black;
}

.logo p {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 50px;
    font-family: 'Great Vibes';
    font-weight: bolder;
    color: white;
    text-shadow: 5px 2px 5px black;
}

/**********************************/

.home {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #e8d0f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #524460;
}

.search-bar {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 615px;
    height: 85px;
    background: #6e5c80;
    border: 2px solid #524460;
    border-radius: 45px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    width: 549px;
    height: 64px;
    padding: 22px 24px;
    color: #decae9;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.search-bar button {
    display: block;
    margin-right: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 140px;
    height: 48px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 25px;
    background: #bc92bb;
    transition: .2s;
}

.search-bar button:hover {
    background: #bd7cbb;
}

::placeholder {
    color: #f3defb;
    font-size: 17px;
}

input[type="file"]::file-selector-button {
    border: 2px solid #77578b;
    padding: 0.8em 1.2em;
    border-radius: 1em;
    background-color: #bfa0d3;
    transition: 1s;
    text-align: center;
    font-size: 19px;
}

input[type="file"]::-ms-browse:hover {
    background-color: #dda0df;
    border: 2px solid #bf6cc2;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #dda0df;
    border: 2px solid #bf6cc2;
}

input[type="file"]::file-selector-button:hover {
    background-color: #dda0df;
    border: 2px solid #bf6cc2;
}

form {
    text-align: center;
    font-size: 60px;
    background-color: transparent;
    margin: 50px 0px;
    font-family: 'Teko', sans-serif ;
}

label {
    margin-inline-end: 30px;
}

.home .container {
    z-index: 4;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(186, 153, 193);
    animation: animate 15s linear infinite;
    bottom: -1px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-900px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/**********************************/

.footer {
    text-align: center;
    bottom: 0;
    padding: 20px 0px;
    background-color: rgb(119, 87, 132);
}

.footer__inner p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(226, 192, 242);
}

.footer__inner img {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

/*******************************/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: rgb(247, 225, 254);
    border: 1px solid rgb(117, 93, 132);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.hide {
    display: none;
}
.show {
    display: block;
}
.fade {
    animation: fade 1.7s linear;
}

@keyframes fade {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}